@use "config/variables" as var;
@use "config/mixins" as mix;

@for $i from 1 to 4 {
  h#{$i} {
    margin: 2rem 0;
    line-height: 1.5;
  }
}

h1 {
  font-size: 4rem;

  @include mix.tablet {
    font-size: 4.4rem;
  }
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

p {
  font-size: 1.9rem;
  color: var.$black;
  line-height: 2;
  margin: 1rem 0;
}
