@use "config/variables" as var;
@use "config/mixins" as mix;

.header {
  padding: 5rem 0;
  @include mix.bgImg("../assets/img/header.jpg", var.$opacity-color);

  &__contenido {
    padding: 10rem 0;
  }

  &__titulo {
    color: var.$white;

    @include mix.tablet {
      max-width: 50%;
    }

    @include mix.desktop {
      max-width: 40%;
    }
  }
}
