// MediaQueries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopXL: 1280px;

// Fuentes
$primary-font: "Poppins", sans-serif;

// Colores
$primary-color: #84d9bc;
$secondary-color: #313c4e;
$opacity-color: rgb(57 70 89 / 0.7);
$black: #111;
$white: #fff;

//
$separacion: 5rem;